body{
  background-color:coral;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
  background-color: black;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar_container{
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding:0 50px;
}

#navbar_logo{
  background-color:chocolate;
  background-image: linear-gradient(to top, rgb(216, 44, 44) 0%, rgb(62, 65, 22) 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;

}

.fa-gem{
  margin-right: 0.5rem;
}

.navbar_menu{
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar_items{
  height: 80px;
}

.navbar_links{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar_button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: crimson;
  color: white;
}

.button:hover{
  background-color: rgb(35, 35, 146);
  transition: all 0.3s ease;
}

.navbar_links:hover{
  color: chocolate;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 100%;
    padding: 0;
   }

   .navbar_menu{
    display:grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 80vh;
    z-index: -1;
    background-color: rgb(5, 5, 5);
   }

   .navbar_menu.active{
    background: black;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font: 1.6rem;
    
   }

   #navbar_logo{
    padding-left: 25px;
   }

   .navbar_toggle .bar{
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: all 0.3s ease-in-out;
    background-color: white;
   }

   .navbar_item{
    width: 100%;
   }

   .navbar_links{
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
   }

   #mobile_menu{
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
   }

   .navbar_button{
    padding-bottom: 2rem;
   }

   .button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
   }

   .navbar_toggle .bar{
    display:block;
    cursor: pointer;
   }

   #mobile_menu.is-active .bar:nth-child(2){
    opacity: 0;
   }

   #mobile_menu.is-active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
   }


   #mobile_menu.is-active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
   }

}

/* hero section */
.main{
  background-color: #141414;
}

.main_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 100vh;
  background-color: #141414;
  z-index: 1;
  width: 100vw;
  max-width: 1300px;
  padding: 0 50px;
}

.main_content h1{
  font-size: 3.5rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, rgba(231, 231, 99, 0.067));
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main_content h2{
  font-size: 3rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ea08ff 0%, rgba(65, 231, 243, 0.067));
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main_content p{
  margin-top: 1rem;
  font-size: 2rem ;
  font-weight: 700;
  color: white;
}

.main_button{
  font-size: 1rem;
  background-image: linear-gradient(to top, rgb(216, 101, 24) 0%, rgb(185, 36, 123) 100%);
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  margin-top: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main_button a{
  position: relative;
  z-index: 2;
  color: white;
  text-decoration: none;

}

.main_button:after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100;
  background: #4837ff;
  transition: all 0.35s;
  border-radius: 4px;
}

.main_button:hover{
  color: #fff;
}

.main_button:hover:after{
  width: 100%;
}

.main_image_container{
  text-align: center;
  background-color: #141414;
}

#main_image{
  height: 80%;
  width: 80%;
}

/* mobile responsive */
@media screen and (max-width:768px) {
  .main_container{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    height: 110vh;
  }
  .main_content{
    text-align: center;
    margin-bottom: 4 rem;
  }

  .main_content h1{
    font-size: 3.5rem;
    margin-top: 2rem;
  }

  .main-content h2{
    font-size: 2rem;
  }

  .main_content p{
    margin-top: 1rem;
    font-size: 1
    rem;
  }
}

@media screen and (max-width: 480px) {
  .main_content h1{
    font-size: 2rem;
    margin-top: 2rem;
  }

  .main-content h2{
    font-size: 1rem;
  }

  .main_content p{
    margin-top: .5rem;
    font-size: 1
    rem;
  }

  .main_button{
    padding: 12px 36px;
    margin: 2.5rem 0;
  }

}

/* services section */

.services{
  background: #141414;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.services h1{
  background-color: orangered;
  background-image: linear-gradient(to right, 
    rgb(206, 148, 40) 0%,
    rgb(212, 122, 38) 20%, 
    rgb(148, 75, 16) 60%, 
    rgb(235, 34, 34) 100%);
  background-size: 100%;
   margin-bottom: 5rem;
   font-size: 2.5rem;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   -webkit-text-fill-color: transparent;
   -moz-text-fill-color: transparent;
}

.services_container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}